<h1>Listing users</h1>

<table>
  <tr>
    <th>Forename</th>
    <th>Surename</th>
    <th>Student number</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.forename %></td>
    <td><%= user.surename %></td>
    <td><%= user.student_number %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to user.admin ? 'Unadmin' : 'Admin', user_toggle_admin_path(user), method: :post, data: { confirm: "Are you sure you want to toggle admin status?" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
