<p id="notice"><%= notice %></p>

<h1> <%= "#{@user.forename} #{@user.surename}" %> </h1>

<p>
  <b>Student number:</b>
  <%= @user.student_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if @user.current_registration %>

    <h2>Current work:</h2>
    <div>
      <p><%= @user.current_registration.topic %></p>

      <p><%= link_to @user.current_registration.repository, @user.current_registration.repository %></p>
    </div>

    <h3>Weekly feedbacks</h3>

    <table>
      <tr>
        <% (1..6).each do |week| %>
            <th style="width: 50px"> <%= week %></th>
        <% end %>
      </tr>
      <tr>
          <% (1..6).each do |week| %>
            <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.points_for_week week  %></td>
          <% end %>
      </tr>
    </table>

    <% if @user.current_registration.feedback.size > 0 %>
        <h3 class="button" id="review">Show weekly feedbacks</h3>
    <% end %>

    <div class="reviews">
      <ul>
        <% @user.current_registration.feedback.each do |fb| %>
            <li><%= "week: #{fb.week}, points: #{fb.points}, comments:" %>
              <pre><%= fb.text %></pre>
            </li>
        <% end %>
      </ul>
    </div>

    <h4 class="button" id="review-form">Give a new feedback</h4>

    <div class="review-form">
      <%= form_tag("/week_feedbacks") do -%>
          <%= label_tag 'week' %>
          <br/>
          <%= text_field_tag 'week_feedback[week]' %>
          <br/>
          <%= label_tag 'points' %>
          <br/>
          <%= text_field_tag 'week_feedback[points]' %>
          <br/>
          <%= label_tag 'comments' %>
          <br/>
          <%= text_area_tag 'week_feedback[text]', nil, :size => "100x10" %>
          <br/>
          <%= hidden_field_tag  :registration, @user.current_registration.id %>
          <%= submit_tag 'Save' %>
      <% end -%>
    </div>

    <% if @user.assigned_reviews.count>0 %>
        <h3>Code to review</h3>

        <% @user.assigned_reviews.each do |review| %>
            <%= link_to review.reviewed.repository, review.reviewed.repository %>
            <% if not review.done %>
                <em>not yet reviewed</em>
            <% else %>
                <em>reviewed!</em>
            <% end %>
            <br/>
        <% end %>
    <% else %>
        <h3>No code assigned for review</h3>
    <% end %>

    <% if @user.assigned_reviewers.count>0 %>
        <h3>Reviews for the code</h3>

        <% @user.assigned_reviewers.each do |review| %>
            <%= "#{review.reviewer.user}:" %>
            <em><%= review.done() ? "ready" :"not done yet" %></em>
            <br/>
        <% end %>
    <% else %>
        <h3>Nobody assigned to review users code</h3>
    <% end %>

<% end %>

<br/>

<% if @user.past_registrations.count>0 %>
    <h3>Past registrations:</h3>
    <% @user.past_registrations.each do |r| %>
        <div>
          <h4><%= r.course %></h4>

          <p><%= r.topic %></p>

          <p><%= link_to r.repository, r.repository %></p>
        </div>

        <div>
          <ul>
            <% r.week_feedbacks.each do |fb| %>
                <li><%= "week: #{fb.week}, points: #{fb.points}, comments: #{fb.text}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>


<%= link_to 'Drop from current course', @user.current_registration, method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Edit', edit_user_path(@user) %>