<p id="notice" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<div class="<%=isHidden(@user)%>">
    <h1> <%= "#{@user.forename} #{@user.surename}" %> </h1>
</div>

<% if @user.hidden? %>
    <p>
      <%= link_to "make account visible", toggle_hidden_user_path(@user), :method => :post, :class => "small-button" %>
    </p>
<% else %>
    <p>
      <%= link_to "make account hidden, i.e., make students data invisible form my_page (operation can be undone!)", toggle_hidden_user_path(@user), :method => :post, :class => "small-button" %>
    </p>
<% end %>

<% if current_user==@user %>
    <div style="padding: 10px">
      <%= link_to 'Edit your data', edit_user_path(@user), :class => 'small-button' %>
    </div>
<% end %>

<div style="background: #cccccc; padding: 5px;">

  <p>
    <b>Student number:</b>
    <%= @user.student_number %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

</div>



<% if @user.current_registration %>

    <h2>Current work</h2>

    <% if not @user.current_registration.active %>
        <div class='<%= active @user.current_registration %>' style='margin: 10px; padding: 3px 10px 10px 10px'>

          <p><strong>has dropped from the course</strong></p>
          <%= form_tag('/toggle_registration') do %>
              <%= hidden_field_tag 'registration', @user.current_registration.id %>
              <%= submit_tag "Activate again", :class => "small-button" %>
          <% end %>
        </div>
    <% end %>


    <div class="rounded">

      <div>
        <p><b><%= @user.current_registration.topic %></b></p>

        <p>Repository: <%= link_to @user.current_registration.repository, @user.current_registration.repository %></p>

        <p>Test URL: <%= link_to @user.current_registration.test_url, @user.current_registration.test_url %></p>
      </div>

      <table>
        <tr>
          <th colspan="<%= @user.current_registration.course.weeks_total %>">Week feedbacks</th>
          <th></th>
          <% unless @user.current_registration.course.reviews_total == 0 %>
            <th colspan="<%= @user.current_registration.course.reviews_total %>">Code review</th>
          <% end %>
          <th></th>
          <th>
            Total
          </th>
        </tr>
        <tr>
          <% (1..@user.current_registration.course.weeks_total).each do |week| %>
              <th style="width: 50px"> <%= week %></th>
          <% end %>
          <th>

          </th>
          <% (1..@user.current_registration.course.reviews_total).each do |review| %>
              <th> <%= review %></th>
          <% end %>
          <th>

          </th>
          <th>
            points
          </th>
        </tr>

        <tr>
          <% (1..@user.current_registration.course.weeks_total).each do |week| %>
              <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.points_for_week week %></td>
          <% end %>
          <td></td>
          <% unless @user.current_registration.course.reviews_total < 1 %>
            <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.review1 %></td>
          <% end %>
          <% unless @user.current_registration.course.reviews_total < 2 %>
          <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.review2 %></td>
          <% end %>
          <td></td>
          <td style="width: 50px; ; text-align: center;"><b><%= @user.current_registration.total_points %></b></td>
        </tr>
      </table>

      <% if @user.current_registration.feedback.size > 0 %>
          <h3 class="button" id="review">Show feedbacks and notes</h3>
      <% end %>

      <div class="reviews">

        <% @user.current_registration.feedback.select { |f| f.week< @user.current_registration.course.weeks_total + 1 }.each do |fb| %>
            <div style="margin: 20px;">
              <b><%= "week: #{fb.week}, points: #{fb.points}" %></b>

              <div style="margin: 10px;">
                <%= rendered(fb.text) %>
              </div>
              <% unless fb.hidden_text.nil? or fb.hidden_text.empty? %>
                  <div class="instronly">
                    instructor notes:
                    <div style="padding: 6px; marigin: 10px">
                      <%= rendered(fb.hidden_text) %>
                    </div>
                  </div>
              <% end %>
              <% if fb.feedback_comments.size > 0 %>
                <b>Comments</b>
                <% fb.feedback_comments.each do |c|  %>
                <div>
                  <i><%= c.user %></i>: <%= c.text %>
                </div>
                <% end %>
              <% end %>
              <%= form_tag("/feedback_comments/admin_reply") do -%>
                <div class="rounded" style="margin-left: -10px; display: inline-block; width: auto;">
                  <%= label_tag 'Add comment' %>
                  <br/>
                  <%= text_area_tag 'feedback_comment[text]', nil, :size => "40x3" %>
                  <%= hidden_field_tag :week_feedback, fb.id %>
                  <br />
                  <%= label_tag 'notify student by email' %>
                  <%= check_box_tag 'notify', true, Course.active.email_student? %>
                  <%= label_tag 'send the email also to you' %>
                  <%= check_box_tag 'notify-cc', true, Course.active.email_instructor? %>
                  <%= submit_tag 'Save comment' %>
                </div>
              <% end -%>
            </div>

            <hr/>
        <% end %>

        <% @user.current_registration.feedback.select { |f| f.week> @user.current_registration.course.weeks_total }.each do |fb| %>
            <div style="margin: 20px;">
              <% unless fb.hidden_text.nil? or fb.hidden_text.empty? %>
                  <div class="instronly">
                    instructor notes:
                    <div style="padding: 6px; marigin: 10px">
                      <%= rendered(fb.hidden_text) %>
                    </div>
                  </div>
              <% end %>
            </div>

            <hr/>
        <% end %>

      </div>

      <h4 class="button" id="review-form">Give a new or edit feedback</h4>

      <div class="review-form">

        <div style="background-color: #dddddd; margin: 10px;">
          Text fields can be formatted with
          <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a></b>
        </div>

        <%= form_tag("/week_feedbacks") do -%>
            <%= label_tag 'week' %>
            <br/>
            <%= text_field_tag 'week_feedback[week]', @user.current_registration.course.week %>
            <br/>
            <%= label_tag 'points' %>
            <br/>
            <%= text_field_tag 'week_feedback[points]' %>
            <br/>
            <%= label_tag 'comments for student' %>
            <br/>
            <%= text_area_tag 'week_feedback[text]', nil, :size => "100x10" %>
            <br/>

            <div class="instronly" style="padding: 4px;">
              <%= label_tag 'comments visible only to instructors' %>
              <br/>
              <%= text_area_tag 'week_feedback[hidden_text]', nil, :size => "100x10" %>
            </div>
            <br/>
            <%= label_tag 'notify student by email' %>
            <%= check_box_tag 'notify', true, Course.active.email_student? %>
            <br/>
            <%= label_tag 'send the email also to you' %>
            <%= check_box_tag 'notify-cc', true, Course.active.email_instructor? %>
            <br/>
            <br/>
            <%= hidden_field_tag :registration, @user.current_registration.id %>
            <%= submit_tag 'Save the feedback' %>
        <% end -%>
      </div>


      <h4 class="button" id="note-form">Create a instructor only visible note</h4>

      <div class="note-form">
        <div style="background-color: #dddddd; margin: 10px;">
          Text fields can be formatted with
          <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a></b>
        </div>

        <%= form_tag("/week_feedbacks/note") do -%>

            <div class="instronly" style="padding: 4px;">
              <%= label_tag 'comments visible only to instructors' %>
              <br/>
              <%= text_area_tag 'hidden_text', nil, :size => "100x10" %>
            </div>
            <br/>
            <%= hidden_field_tag :registration, @user.current_registration.id %>

            <%= submit_tag 'Save the instructor only note' %>
        <% end -%>
      </div>

    </div>


    <% unless @user.current_registration.course.reviews_total < 1 %>
    <h2>Code reviews</h2>

    <div class="rounded">

      <h3>round 1</h3>

      <p><%= "participate review 1: #{(@user.current_registration.participates_review 1) ? "yes" :"no"}" %></p>

      <% if  Course.active.review_round<2 %>
          <%= form_tag('/toggle_review_participation') do %>
              <%= hidden_field_tag 'registration', @user.current_registration.id %>
              <%= hidden_field_tag 'round', 1 %>
              <%= submit_tag label(@user.current_registration.participates_review(1)),
                             :class => "small-button",
                             :confirm => "Note that if you already had done a review assignment, after the operation all participants all the students do not have reviewers so a new assignment has to be made!" %>
          <% end %>
      <% end %>

      <% if @user.assigned_reviews_in(1).count>0 %>

          <h4>Code to review</h4>

          <% @user.assigned_reviews_in(1).each do |review| %>
              <%= link_to review.reviewed.repository, review.reviewed.repository %>
              <% if not review.done %>
                  <em>not done</em>
              <% else %>
                  <em>reviewed</em>
              <% end %>

          <% end %>
      <% else %>
          <h4>No code assigned for review yet</h4>
      <% end %>

      <% if @user.assigned_reviewers_in(1).count>0 %>

          <h4>Reviewers</h4>

          <% @user.assigned_reviewers_in(1).each do |review| %>
              <%= link_to(review.reviewer.user, review.reviewer.repository) %>
              <em><%= review.done() ? "ready" :"not done yet" %></em>
              <br/>
          <% end %>
      <% else %>
          <h4>Nobody assigned to review your code yet</h4>
      <% end %>

      <div class='rounded' style="margin-top: 20px; padding-top: 20px">
        <%= form_for(@user.current_registration) do |f| %>
            <div class="field">
              <b>Code review points for round 1:</b> <br/>
              <%= radio_button("registration", :review1, 0, :checked => @user.current_registration.review1==0) %> 0
              <br/>
              <%= radio_button("registration", :review1, 0.5, :checked => @user.current_registration.review1==0.5) %>
              0.5
              <br/>
              <%= radio_button("registration", :review1, 1, :checked => @user.current_registration.review1==1) %> 1
              <br/>
              <%= radio_button("registration", :review1, 1.5, :checked => @user.current_registration.review1==1.5) %>
              1.5
              <br/>
              <%= radio_button("registration", :review1, 2, :checked => @user.current_registration.review1==2) %> 2
              <br/>
            </div>
            <div class="actions">
              <%= f.submit review_point_label(@user.current_registration.review1) %>
            </div>
        <% end %>
      </div>

      <h3>round 2</h3>

      <p><%= "participate review 2: #{(@user.current_registration.participates_review 2) ? "yes" :"no"}" %></p>

      <% if  Course.active.review_round<3 %>
          <%= form_tag('/toggle_review_participation') do %>
              <%= hidden_field_tag 'registration', @user.current_registration.id %>
              <%= hidden_field_tag 'round', 2 %>
              <%= submit_tag label(@user.current_registration.participates_review(2)),
                             :class => "small-button",
                             :confirm => "Note that if you already had done a review assignment, after the operation all participants all the students do not have reviewers so a new assignment has to be made!" %>
          <% end %>
      <% end %>

      <% if @user.assigned_reviews_in(2).count>0 %>

          <h4>Code to review</h4>

          <% @user.assigned_reviews_in(2).each do |review| %>
              <%= link_to review.reviewed.repository, review.reviewed.repository %>
              <% if not review.done %>
                  <em>not done</em>

              <% else %>
                  <em>reviewed</em>
              <% end %>

          <% end %>
      <% else %>
          <h4>No code assigned for review yet</h4>
      <% end %>

      <% if @user.assigned_reviewers_in(2).count>0 %>

          <h4>Reviewers</h4>

          <% @user.assigned_reviewers_in(2).each do |review| %>
              <%= link_to(review.reviewer.user, review.reviewer.repository) %>
              <em><%= review.done() ? "ready" :"not done yet" %></em>
              <br/>
          <% end %>
      <% else %>
          <h4>Nobody assigned to review your code yet</h4>
      <% end %>

      <% if Course.active.review_round>1 %>

          <div class='rounded' style="margin-top: 20px; padding-top: 20px">
            <%= form_for(@user.current_registration) do |f| %>
                <div class="field">
                  <b>Code review points for round 2:</b> <br/>
                  <%= radio_button("registration", :review2, 0, :checked => @user.current_registration.review2==0) %> 0
                  <br/>
                  <%= radio_button("registration", :review2, 0.5, :checked => @user.current_registration.review2==0.5) %>
                  0.5
                  <br/>
                  <%= radio_button("registration", :review2, 1, :checked => @user.current_registration.review2==1) %> 1
                  <br/>
                  <%= radio_button("registration", :review2, 1.5, :checked => @user.current_registration.review2==1.5) %>
                  1.5
                  <br/>
                  <%= radio_button("registration", :review2, 2, :checked => @user.current_registration.review2==2) %> 2
                  <br/>
                </div>
                <div class="actions">
                  <%= f.submit review_point_label(@user.current_registration.review2) %>
                </div>
            <% end %>
          </div>
      <% end %>

    </div>
    <% end %>

    <% if @user.current_registration.active %>

        <%= form_tag('/toggle_registration') do %>
            <%= hidden_field_tag 'registration', @user.current_registration.id %>
            <%= submit_tag "Make inactive",
                           :class => "small-button",
                           :confirm => "Are you sure you want to do that? Note that this deletes all the review assignments for the user. \n\nRemember to do a new assignment!" %>
        <% end %>

    <% end %>

<% end %>


<br/>

<% if @user.past_registrations.count>0 %>
    <div style="background: #cccccc; padding: 5px;"><h2>Past registrations</h2></div>

    <div class="rounded">

      <% @user.past_registrations.each do |r| %>
          <div>
            <h4><%= r.course %></h4>

            <p><%= r.topic %></p>

            <p><%= link_to r.repository, r.repository %></p>
          </div>

          <div>
            <ul>
              <% r.week_feedbacks.each do |fb| %>
                  <li><%= "week: #{fb.week}, points: #{fb.points}, comments: #{fb.text}" %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

    </div>
<% end %>


<% if @user.current_registration %>
    <div style="padding: 20px 0 0 0">
      <%= link_to 'Delete the registration', @user.current_registration, method: :delete, data: {confirm: 'Are you sure? Do this only if the student has not started the course at all. Othervise it is better to mark student as inactive'}, :class => 'small-button' %>
    </div>
<% end %>
