<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if @user and @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this registration from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="field">
    <% if @registration.course %>
    <%= hidden_field(:registration, :course_id) %>
    <% else %>
    <%= label_tag 'course' %><br />
    <%= collection_select(:registration, :course_id, Course.active, :id, :to_s, {prompt: 'Select course'}, {disabled: !@registration.course.nil?}) %>
    <% end %>
  </div>
  <div class="field">
    <%= label_tag 'first name' %><br />
    <%= text_field_tag 'user[forename]', (@user.forename if @user) %>
  </div>
  <div class="field">
      <%= label_tag 'surename' %><br />
      <%= text_field_tag 'user[surename]', (@user.surename if @user) %>
  </div>

  <div class="field">
    <%= label_tag 'email' %><br />
    <%= text_field_tag 'user[email]', (@user.email if @user) %>
  </div>
  <div class="field">
      <%= label_tag 'student number' %><br />
      <%= text_field_tag 'user[student_number]', (@user.student_number if @user) %>
  </div>

  <div class="field">
    Topic<br/>
    <%= f.text_field :topic %>
  </div>

  <div class="field">
    Github repository in form <em>https://github.com/youraccount/yourrepo</em><br/>
    <%= f.text_field :repository %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
