<p id="notice"><%= notice %></p>

<% if @courses.any? %>

    <h1>Active courses</h1>
    <% @courses.each do |c| %>
        <div>
            <h3><%= link_to c, c %></h3>

            <table>
              <tr>
                <th>Student</th>
                <th>Topic</th>
                <th>Repository</th>

              </tr>

              <% c.registrations.each do |registration| %>
                  <tr class='<%= active registration %>'>
                    <td><%= link_to registration.user, registration.user %></td>
                    <td><%= link_to registration.topic, registration %></td>
                    <td><%= link_to registration.repository, registration.repository %></td>

                  </tr>
              <% end %>
            </table>
        </div>
    <% end %>
    <hr/>
<% end %>

<% if @past_courses.any? %>

    <h1>Past courses</h1>

    <% @past_courses.each do |c| %>
        <div>
            <h3><%= link_to c, c %></h3>

            <table>
              <tr>
                <th>Student</th>
                <th>Topic</th>
                <th>Repository</th>

              </tr>

              <% c.registrations.each do |registration| %>
                  <tr>
                    <td><%= link_to registration.user, registration.user %></td>
                    <td><%= link_to registration.topic, registration %></td>
                    <td><%= link_to registration.repository, registration.repository %></td>
                  </tr>
              <% end %>
            </table>
        </div>
    <% end %>
<% end %>