<%= form_for(@peer_review) do |f| %>
  <% if @peer_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@peer_review.errors.count, "error") %> prohibited this peer_review from being saved:</h2>

      <ul>
      <% @peer_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    notes <br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    done <br />
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
