<h1>Peer reviews</h1>


<table>
  <tr class="bar">
    <th></th>
    <% @students.each do |student| %>
        <th class="rotate"><%= student %></th>
    <% end %>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student %></td>
        <% @students.each do |reviewed| %>
            <td class='grid' id='<%= "b#{student.id}-#{reviewed.id}"%>'>
            <% if student.id!=reviewed.id %>
              <%= form_tag('/toggle_review', :remote => true) do %>
                <%= hidden_field_tag 'reviewer', student.id %>
                <%= hidden_field_tag 'reviewed', reviewed.id %>
                <%= submit_tag student.assigned_to_review reviewed  %>
              <% end %>
            <% end %>
            </td>

        <% end %>
        <td> <%=student.number_of_assigned_reviews %> </td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <% @students.each do |student| %>
        <td class="grid"><%=student.reviewers_assigned%></td>
    <% end %>

  </tr>
</table>