<h1>Assign peer reviews for students</h1>

<p>Rows representer reviewers and columns targets of review</p>

<table>
  <tr class="bar">
    <th></th>
    <% @students.each do |student| %>
        <% if student.assigned_reviewers.count>0 %>
            <th id='<%= "r#{student.id}"%>' class='review-assigned rotate'><%= student %></th>
        <% else %>
            <th id='<%= "r#{student.id}"%>' class='rotate'><%= student %></th>
        <% end %>
    <% end %>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td id='<%= "s#{student.id}"%>'
            class='<%="aa review-assigned" if student.assigned_reviews.count>0 %>' ><%= link_to student, student %></td>
        <% @students.each do |reviewed| %>
            <td id='<%= "b#{student.id}-#{reviewed.id}"%>'
                class='<%= student.assigned_to_review reviewed %>'>
            <% if student.id!=reviewed.id %>
                <%= form_tag('/toggle_review', :remote => true) do %>
                  <%= hidden_field_tag 'reviewer', student.id %>
                  <%= hidden_field_tag 'reviewed', reviewed.id %>
                  <%= submit_tag student.assigned_to_review reviewed  %>
                <% end %>

            <% end %>
            </td>

        <% end %>
      </tr>
  <% end %>
</table>