<p id="notice"><%= notice %></p>

<h1>Assign peer reviews for students</h1>

<h3>Course: <%= @course %></h3>

<% if @course.review_round==0 %>

    <h4>reviews not started</h4>

<% elsif @course.review_round>2 %>

    <h4>reviews completed</h4>

<% else %>

    <h4>review round <%= @course.review_round %>, registration <%= @course.review_registration %></h4>

    <p><em>Rows represent reviewers and columns targets of review</em></p>

    <div style="padding: 10px 20px 20px 20px;">
      <%= form_tag('/reset_reviews') do %>
          <%= submit_tag "reset review assignments", :confirm => "Are you sure you want to reset all reviews" %>
      <% end %>
      <br/>

      <%= form_tag('/generate_reviews') do %>
          <%= submit_tag "generate default review assignments", :confirm => "Are you sure you want to generate reviews? All the current ones will be deleted" %>
      <% end %>
    </div>

    <table class="bordered" style="padding-top: 20px;">
      <thead>
        <th></th>
        <th>reviews</th>
        <th>rewiewed</th>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td> <%= student %></td>
            <td> <%= student.assigned_reviews.count %> </td>
            <td> <%= student.assigned_reviewers.count %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

<% end %>

