<p id="notice"><%= notice %></p>

<p>
  <b>Notes:</b>
  <%= @peer_review.notes %>
</p>

<p>
  <b>Done:</b>
  <%= @peer_review.done %>
</p>


<%= link_to 'Edit', edit_peer_review_path(@peer_review) %> |
<%= link_to 'Back', peer_reviews_path %>
