<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @course.year %>
</p>

<p>
  <b>Period:</b>
  <%= @course.period %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
