<p id="notice"><%= notice %></p>

<h2>
  <%= @course.year %>,
  <%= @course.period %>
</h2>

<% if @course.week<7 %>

  <p><strong>Week: <%= @course.week %></strong></p>

  <%= form_tag("/courses/#{@course.id}", :method => :put) do %>
    <%= hidden_field_tag 'course[week]', @course.week+1 %>
    <%= submit_tag "next week", :confirm => "Are you sure?"  %>
  <% end %>

<% else %>

  <p><strong>Course over</strong></p>

<% end %>

<h3>Registrations</h3>

<table class="striped">
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th colspan="6">Week points</th>
    <th colspan="2">Reviews</th>
    <th></th>
  </tr>

  <tr>
    <th>Student</th>
    <th>Topic</th>
    <th>Repository</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>1</th>
    <th>2</th>
    <th></th>
  </tr>

<% @course.registrations.each do |registration| %>
  <tr>
    <td><%= link_to registration.user, registration.user %></td>
    <td><%= link_to registration.topic, registration  %></td>
    <td><%= link_to registration.repository, registration.repository %>&nbsp;&nbsp;</td>
    <td><%= registration.points_for_week 1  %></td>
    <td><%= registration.points_for_week 2  %></td>
    <td><%= registration.points_for_week 3  %></td>
    <td><%= registration.points_for_week 4  %></td>
    <td><%= registration.points_for_week 5  %></td>
    <td><%= registration.points_for_week 6  %>&nbsp;&nbsp;</td>
    <td><%= registration.review_status_for_week 1%></td>
    <td><%= registration.review_status_for_week 2%></td>
    <td><%= link_to 'View or give feedback ', registration.user %></td>
  </tr>
<% end %>
</table>

<h3>Current code review</h3>

<% if @course.review_round==0 %>
    <p>not started yet</p>
    <%= form_tag("/courses/#{@course.id}", :method => :put) do %>
      <%= hidden_field_tag 'course[review_round]', @course.review_round+1 %>
      <%= submit_tag "start", :confirm => "Are you sure?" %>
    <% end %>
<% elsif @course.review_round<2 %>
    <p> round: <%= @course.review_round %></p>
    <%= form_tag("/courses/#{@course.id}", :method => :put) do %>
      <%= hidden_field_tag 'course[review_round]', @course.review_round+1 %>
      <%= submit_tag "next round", :confirm => "Are you sure?"  %>
    <% end %>
<% elsif @course.review_round<3 %>
    <p> round: <%= @course.review_round %></p>
    <%= form_tag("/courses/#{@course.id}", :method => :put) do %>
      <%= hidden_field_tag 'course[review_round]', @course.review_round+1 %>
      <%= submit_tag "finnish", :confirm => "Are you sure?"  %>
    <% end %>
<% else %>
    <p>finished for this course</p>
<% end %>

<h3>Code reviews</h3>

<% if @course.review_round>0 %>
  <h4>Round 1</h4>
  <table class="striped">
    <tr class="bar">
      <th></th>
      <% @students.each do |student| %>
        <th class='vertical'><div><%= student %></div></th>
      <% end %>
    </tr>
    <% @students.each do |student| %>
        <tr>
          <td><%= link_to student, student %></td>
          <% @students.each do |reviewed| %>
            <td class='left'>
               <%= student.reviewed_in_round(reviewed, @course, 1) %>
            </td>
          <% end %>
        </tr>
    <% end %>
  </tr>
  </table>
<% end %>

<% if @course.review_round>1 %>
    <h4>Round 2</h4>
    <table class="striped">
      <tr class="bar">
        <th></th>
        <% @students.each do |student| %>
          <th  class='rotate'><%= student %></th>
        <% end %>
      </tr>
      <% @students.each do |student| %>
          <tr>
            <td><%= link_to student, student %></td>
            <% @students.each do |reviewed| %>
              <td class='left'>
                 <%= student.reviewed_in_round(reviewed, @course, 2) %>
              </td>
            <% end %>
          </tr>
      <% end %>
    </tr>
    </table>
<% end %>

<h3>Misc</h3>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

