<% link_key = link.id unless link_key %>
<tr id="linked_check_<%= link.id %>">
  <td class="name">
    <%= link.check.check %>
    <%= hidden_field_tag "checks[#{link_key}][check][check]", link.check.check, :class => 'check_check' %>
    <%= hidden_field_tag "checks[#{link_key}][id]", link.id || "new", :class => 'link_id' %>
    <%= hidden_field_tag "checks[#{link_key}][ordering]", link.ordering, :class => 'check_ordering' %>
    <%= hidden_field_tag "checks[#{link_key}][check_id]", link.check.id || "new", :class => 'check_id' %>
    <%= hidden_field_tag "checks[#{link_key}][topic_id]", topic_key, :class => 'topic_id_field'  %>
  </td>
  <td class="feedbacks">
    <%= text_area_tag "checks[#{link_key}][check][feedback]", link.check.feedback, :rows => 1, :cols => 40 %>
  </td>
  <td class="feedbacks">
    <%= text_area_tag "checks[#{link_key}][check][missing_feedback]", link.check.missing_feedback, :rows => 1, :cols => 40 %>
  </td>
  <td class="values">
    <%= number_field_tag "checks[#{link_key}][value]", show_val(link.value), :step=> :any, :class => :value %>
  </td>
  <td class="values">
    <%= number_field_tag "checks[#{link_key}][unchecked_value]", show_val(link.unchecked_value), :step => :any, :class => :unchecked_value %>
  </td>
  <td>
    <button type="button" class="hoverdrop btn btn-default dropdown-toggle" data-toggle="dropdown">
      ✐
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu dropdown-checkedit" role="menu">
      <div class="panel-body">
        <% if link.check.topics.size > 1 %>
          <p>This check is also linked to the following topics</p>
          <ul>
          <% link.check.topics.includes(:checklist).each do |t|  %>
            <% unless t.checklist.id == @checklist.id %>
              <li>
              <%= link_to t.title + " from "+t.checklist.title, t.checklist %>
              </li>
            <% end %>
          <% end %>
          </ul>
          <button type="button" class="deleteCheck btn btn-danger">Remove check from this topic</button>
        
        <% else %>
          <p>This check is not present in any other topics</p>
          <button type="button" class="deleteCheck btn btn-danger">Delete this check</button>
        <% end %>
  
      </div>
    </div>
  </td>
</tr>
