<button type="button" class="btn-link expandable collapsed" data-toggle="collapse" data-target="#new_check_for_<%= topic.id %>">
  Add check
</button>
<div id="new_check_for_<%= topic.id %>" class="new_check panel panel-default collapse">
  <div class="panel-body">
    <p>
    Check
    <%= text_field_tag "new_check_for[#{topic.id}][check]", nil, :size => 40 %>
    Value 
    <%= number_field_tag "new_check_for[#{topic.id}][value]", 0, :step => :any %>
    Unchecked value 
    <%= number_field_tag "new_check_for[#{topic.id}][unchecked_value]", 0, :step => :any %>
    </p>
    <div class="row">
      <div class="col-md-5">
        Feedback
        <%= text_area_tag "new_check_for[#{topic.id}][feedback]", nil, :rows => 5, :cols => 40 %>
      </div>
      <div class="col-md-5">
        Unchecked feedback
        <%= text_area_tag "new_check_for[#{topic.id}][missing_feedback]", nil, :rows => 5, :cols => 40 %>
      </div>
      <div class="col-md-2">
        <%= submit_tag "Create", :class => "btn btn-primary", :name => :new_check %>
      </div>
    </div>
    <p>
    </p>
  </div>
</div>
