<h1>Edit checklist</h1>
<% @checklist.errors[:questions].each do |msg| %>
  <p>Error! <%= msg %></p>
<% end %>
<%= form_for(@checklist) do -%>
  <%= label_tag 'checklist[title]', 'Title' %>
  <%= text_field_tag 'checklist[title]', @checklist.title %>
  <br />
  <%= label_tag 'questions' %>
  <br />
  <%= text_area_tag 'questions', @listdata, :size => "100x30" %>
  <%= hidden_field_tag 'checklist[id]', @checklist.id %>
  <%= submit_tag "Save", :class => "small-button" %>
<% end %>
<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("questions"), {
    lineNumbers: true,
    mode: "text/yaml",
    vimMode: true,
    showCursorWhenSelecting: true
  });
</script>
