<div class="rounded">
  <h2><%= @checklist.title %></h2>
  <%= form_tag("/checklists/#{@checklist.id}/values/") do -%>
    <% @checklist.topics.order("ordering").each do |topic| %>
      <div class="topicContainer">
        <div class="topic" id="topic_<%= topic.id %>">
          <%= topic.title %>
        </div>
        <table class="checklist_table values_table feedback_table table table-striped table-condensed">
          <colgroup>
            <col span="1" style="width: 20%; /* Obvious hack */">
          </colgroup>
          <tr>
            <th>Check</th>
            <th>Feedback</th>
            <th>Unchecked feedback</th>
          </tr>
          <% topic.topics_checks.includes(:check).each do |link| %>
            <tr>
              <td>
                <%= link.check.check %>
                <%= hidden_field_tag "checks[#{link.id}][id]", link.id %>
                <%= hidden_field_tag "checks[#{link.id}][ordering]", link.ordering %>
                <%= hidden_field_tag "checks[#{link.id}][topic_id]", topic.id %>
              </td>
              <td>
                <%= text_area_tag "checks[#{link.id}][feedback]", link.check.feedback, :rows => 5, :cols => 40 %>
                Score: <%= number_field_tag "checks[#{link.id}][value]", show_val(link.value), :step=> :any, :class => :value %>
              </td>
              <td>
                <%= text_area_tag "checks[#{link.id}][missing_feedback]", link.check.missing_feedback, :rows => 5, :cols => 40 %>
                Score: <%= number_field_tag "checks[#{link.id}][unchecked_value]", show_val(link.unchecked_value), :step => :any, :class => :unchecked_value %>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>Score totals</th>
            <th>Maximum: <span class="max"></span></th>
            <th>Minimum: <span class="min"></span></th>
          </tr>
        </table>
        <%= render partial: "new_check", locals: {topic: topic} %>
      </div>

    <% end %>
    <p>
    <%= render partial: "grade_callback_field", locals: {checklist: @checklist} %>
    </p>
    <%= submit_tag "Save", :class => "small-button" %>
  <% end %>
</div>
