<h1>Create checklist</h1>
<% @checklist.errors[:topics].each do |msg| %>
  <p>Error! <%= msg %></p>
<% end %>
<%= form_tag('/checklists') do -%>
  <%= label_tag 'checklist[title]', 'Title' %>
  <%= text_field_tag 'checklist[title]' %>
  <div>
    <div style="display: inline-block; width: 60%;" >
      <%= label_tag 'topics' %>
      <br />
      <%= text_area_tag 'topics', @listdata, :size => "60x30" %>
    </div>
    <div style="display: inline-block; width: 35%;" >
      <%= label_tag 'remarks' %>
      <br />
      <%= text_area_tag 'checklist[remarks]', '', :size => "60x30" %>
    </div>
  </div>
  <%= submit_tag "Save", :class => "small-button" %>
<% end %>
