<h1>Create checklist</h1>
<% @checklist.errors[:topics].each do |msg| %>
  <p>Error! <%= msg %></p>
<% end %>
<%= form_tag('/checklists') do -%>
  <%= label_tag 'checklist[title]', 'Title' %>
  <%= text_field_tag 'checklist[title]' %>
  <%= submit_tag "Save", :class => "small-button" %>
<% end %>
