<h1>Checklist</h1>
<div class="rounded">
  <h2><%= @checklist.title %></h2>
  <%= form_tag("/checklists/#{@checklist.id}/user/", :class => 'autograde') do -%>
    <% if !@registration.nil? %>
      <%= hidden_field_tag 'registration', @registration.id %>
    <% end %>
    <% @checklist.questions.order("ordering").each do |question| %>
      <div class="questionContainer">
        <div class="question" id="question_<%= question.id %>">
          <%= question.question %>
          <button>Done?</button>
        </div>
        <div class="answers">
          <% question.answers.each do |answer| %>
            <div class="answer">
              <%= check_box_tag "answers[#{answer.id}]", answer.value, answer.checked?(@registration) %>
              <%= label_tag "answers[#{answer.id}]", answer.answer %>
            </div>
          <% end %>
        </div>
        <div class="feedback">
        </div>
      </div>
    <% end %>
    <h2>Score</h2>
    <div class="scores">

    </div>
    <h2>Feedback</h2>
    <ul class="feedbacks">

    </ul>
  <% end %>
  <div class="remarks">
    <%= rendered(@checklist.remarks) %>
  </div>
</div>
<div class="rounded actions">
  <h2>Actions</h2>
  <%= link_to 'Edit questions', edit_checklist_path(@checklist), :class => 'small-button' %>
  <%= link_to 'Delete the checklist', @checklist, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'small-button' %>
</div>
<script type="text/javascript">
  $(function() {
    $('form.autograde').autograding({
      <% @checklist.questions.order("ordering").each do |question| %>
        "question_<%= question.id %>": 
        { varname: <%= raw question.varname.to_json%>,
          scoretype: <%= raw question.scoretype.id.to_json%>,
          update_callback: function(checklist) {
            var answers = this.answers;
            <% question.answers.each do |answer|  %>
              <% if answer.has_valid_varname? %>
                var <%= answer.varname %> = answers.<%= answer.varname %>;
              <% end %>
            <% end %>
            <%= raw question.update_callback %>
          },
          init_callback: function(checklist) {
            <%= raw question.init_callback %>
          },
          answers: {
            <% question.answers.each do |answer|  %>
              "answers_<%= answer.id %>": 
              <%= raw answer.attributes.keep_if { |k| k.in? %w(varname value unchecked_value feedback missing_feedback) }.to_json %>,
            <% end %>
          }
        },
      <% end %>
      "scoretypes": {
      <% @checklist.scoretypes .each do |scoretype| %>
        "<%= scoretype.id %>": 
        <%= raw scoretype.attributes.to_json %>,
      <% end %>
      }
    });
  });
</script>
