<%= form_tag("/mypage/#{@user.student_number}", :method => :put) do -%>

    <div class="field">
      <%= label_tag 'forename' %>
      <br/>
      <%= text_field_tag 'user[forename]', @user.forename %>
    </div>
    <div class="field">
      <%= label_tag 'surename' %>
      <br/>
      <%= text_field_tag 'user[surename]', @user.surename %>
    </div>

    <div class="field">
      <%= label_tag 'email' %>
      <br/>
      <%= text_field_tag 'user[email]', @user.email %>
    </div>

    <div class="field">
      <%= label_tag 'student number' %>
      <br/>
      <%= text_field_tag 'user[student_number]', @user.student_number %>
    </div>

    <% if @user.current_registration %>

      <div class="field">
        <%= label_tag 'topic' %>
        <br/>
        <%= text_field_tag 'user[registration][topic]', @user.current_registration.topic %>
      </div>

      <div class="field">
        <%= label_tag 'github repository' %>
        <br/>
        <%= text_field_tag 'user[registration][repository]', @user.current_registration.repository %>
      </div>

    <% end %>

    <%= submit_tag "Make changes" %>

<% end -%>