<h2>Enter your student number to give a peer review</h2>

<p class="error"><%= notice %></p>

<%= form_tag('/mypage',:method => :post) do -%>
  <%= text_field_tag 'student_number', session[:student_number] %>
  <%= submit_tag 'start!', :class => "small-button" %>
<% end -%>

<!--
<div class="data">
foobar
</div>

<%= button_to 'test', "foobar", remote: true %>

<%= form_tag('/foobar',:remote => true) do -%>
  <%= text_field_tag 'student_number', session[:student_number] %>
  <%= submit_tag 'start!', :class => "small-button" %>
<% end -%>

-->

<style type="text/css">
	table {
		border-collapse: collapse;
		border: 1px solid black;
	}

	th {
		padding-right: 10px;
	}

	th, td {
		border: 1px dotted gray;
	}

	.vertical {
		background-color: lightblue;
	}
</style>


		<table>
			<thead>
				<tr>
					<th>This</th>
					<th>column</th>
					<th>represents</th>
					<th>just</th>
					<th>some</th>
					<th>basic</th>
					<th>example</th>
					<th class="vertical">Dummy text</th>
					<th class="vertical">Some other text...</th>
					<th class="vertical">Some long text</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>item1</td>
					<td>item2</td>
					<td>item3</td>
					<td>item4</td>
					<td>item5</td>
					<td>item6</td>
					<td>item7</td>
					<td class="vertical">item8</td>
					<td>item9</td>
					<td>item10</td>
				</tr>

				<tr>
					<td>item01</td>
					<td>item02</td>
					<td>item03</td>
					<td>item04</td>
					<td>item05</td>
					<td>item06</td>
					<td>item07</td>
					<td>item08</td>
					<td>item09</td>
					<td>item10</td>
				</tr>

				<tr>
					<td>item001</td>
					<td>item002</td>
					<td>item003</td>
					<td>item004</td>
					<td>item005</td>
					<td>item006</td>
					<td>item007</td>
					<td>item008</td>
					<td>item009</td>
					<td>item010</td>
				</tr>
			</tbody>
		</table>