<p id="notice"><%= notice %></p>
<h1> <%= "#{@user.forename} #{@user.surename}" %> </h1>

<div style="background: #cccccc; padding: 5px;">
  <p>
    <b>Student number:</b>
    <%= @user.student_number %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

</div>

<% if @user.current_registration %>

    <h2>Current work</h2>

    <div class="rounded">

      <div>
        <p><strong><%= @user.current_registration.topic %></strong></p>

        <p><%= link_to @user.current_registration.repository, @user.current_registration.repository %></p>
      </div>

      <table>
        <tr>
          <th colspan="6">Week feedbacks</th>
          <th></th>
          <th colspan="2">Code review</th>
          <th></th>
          <th>
            Total
          </th>
        </tr>
        <tr>
          <% (1..6).each do |week| %>
              <th style="width: 50px"> <%= week %></th>
          <% end %>
          <th>

          </th>
          <th>
            1
          </th>
          <th>
            2
          </th>
          <th>

          </th>
          <th>
            points
          </th>
        </tr>

        <tr>
          <% (1..6).each do |week| %>
              <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.points_for_week week %></td>
          <% end %>
          <td></td>
          <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.review1 %></td>
          <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.review2 %></td>
          <td></td>
          <td style="width: 50px; ; text-align: center;"><b><%= @user.current_registration.total_points %></b></td>
        </tr>
      </table>

      <% if @user.current_registration.feedback.size > 0 %>
          <h4 class="button" id="review">Show weekly feedback</h4>
      <% end %>

      <div class="reviews">

        <% @user.current_registration.feedback.select{ |f| f.week<7 }.each do |fb| %>
            <div style="margin: 20px;;">
              <b><%= "week: #{fb.week}, points: #{fb.points}" %></b>

              <div><%= rendered(fb.text) %></div>
              <% if fb.feedback_comments.size > 0 %>
                <b>Comments</b>
                <% fb.feedback_comments.each do |c|  %>
                <div>
                  <i><%= c.user %></i>: <%= c.text %>
                </div>
                <% end %>
              <% end %>
              <%= form_tag("/feedback_comments") do -%>
                <div class="rounded" style="margin-left: -10px; display: inline-block; width: auto;">
                  <%= label_tag 'Add comment' %>
                  <br/>
                  <%= text_area_tag 'feedback_comment[text]', nil, :size => "40x3" %>
                  <%= hidden_field_tag :week_feedback, fb.id %>
                  <br />
                  <%= submit_tag 'Save comment' %>
                </div>
              <% end -%>
            </div>
            <hr/>
        <% end %>

      </div>

    </div>

    <h2>Code reviews</h2>

    <% if Course.active.review_round>1 %>

        <div class="rounded">

          <h3>round 2</h3>

          <p><%= "participate review 2: #{(@user.current_registration.participates_review 2) ? "yes" :"no"}" %></p>

          <% if @user.current_registration.active and Course.active.review_registration=="open" and Course.active.review_round==2 and Course.active.mandatory_reviews %>
              <%= form_tag('/toggle_review_participation') do %>
                  <%= hidden_field_tag 'registration', @user.current_registration.id %>
                  <%= hidden_field_tag 'round', 2 %>
                  <%= submit_tag label(@user.current_registration.participates_review(2)), :class => "small-button" %>
              <% end %>
          <% end %>

          <% if @user.assigned_reviews_in(2).count>0 and Course.active.review_registration=="closed" %>
              <h4>Code to review</h4>

              <% @user.assigned_reviews_in(2).each do |review| %>

                  <%= link_to review.reviewed.repository, review.reviewed.repository %>

                  <% if not review.done %>
                      <% if Course.active.review_round==2 %>
                          <%= form_tag('/complete_review') do %>
                              <%= link_to review.reviewed.repository, review.reviewed.repository %>
                              <%= hidden_field_tag 'review', review.id %>
                              <%= submit_tag "click when done", :class => "small-button" %>
                          <% end %>
                      <% else %>
                          <%= link_to review.reviewed.repository, review.reviewed.repository %>
                          <em>not done</em>
                      <% end %>
                  <% else %>
                      <em>reviewed!</em>
                  <% end if false %>  <!-- feature is disabled -->

              <% end %>

          <% else %>
              <h4>No code assigned to you for review</h4>
          <% end %>

          <% if @user.assigned_reviewers_in(2).count>0 and Course.active.review_registration=="closed" %>
              <h4>Your reviewer</h4>

              <% @user.assigned_reviewers_in(2).each do |review| %>
                  <%= link_to(review.reviewer.repository, review.reviewer.repository) %>
                  <!--
                  <em><%= review.done() ? "ready" :"not done yet" %></em>
                  --> <!-- feature is disabled -->
                  <p/>
              <% end %>
          <% else %>
              <h4>Nobody assigned to review your code</h4>
          <% end %>

          <% if @user.current_registration.review2 %>
              <div>
                <em><b>points given for the second review round: <%= @user.current_registration.review2 %></b></em>
              </div>
          <% end %>

        </div>

    <% end %>

    <div class="rounded">

      <h3>round 1</h3>

      <p><%= "participate review 1: #{(@user.current_registration.participates_review 1) ? "yes" :"no"}" %></p>

      <% if @user.current_registration.active and Course.active.review_registration=="open" and Course.active.review_round==1 and not Course.active.mandatory_reviews %>
          <%= form_tag('/toggle_review_participation') do %>
              <%= hidden_field_tag 'registration', @user.current_registration.id %>
              <%= hidden_field_tag 'round', 1 %>
              <%= submit_tag label(@user.current_registration.participates_review(1)), :class => "small-button" %>
          <% end %>
      <% end %>


      <% if (@user.assigned_reviews_in(1).count>0 and Course.active.review_registration=="closed") or
              (@user.assigned_reviews_in(1).count>0 and Course.active.review_round>1) %>

          <h4>Code to review</h4>

          <% @user.assigned_reviews_in(1).each do |review| %>
              <%= link_to review.reviewed.repository, review.reviewed.repository %>

              <% if not review.done %>
                  <% if Course.active.review_round==1 %>
                      <%= form_tag('/complete_review') do %>
                          <%= link_to review.reviewed.repository, review.reviewed.repository %>
                          <%= hidden_field_tag 'review', review.id %>
                          <%= submit_tag "click when done", :class => "small-button" %>
                      <% end %>
                  <% else %>
                      <%= link_to review.reviewed.repository, review.reviewed.repository %>
                      <em>not done</em>
                  <% end %>
              <% else %>
                  <%= link_to review.reviewed.repository, review.reviewed.repository %>
                  <em>reviewed!</em>
              <% end if false %>  <!-- feature is disabled -->

          <% end %>

      <% else %>
          <h4>No code assigned to you for review yet</h4>
      <% end %>

      <% if (@user.assigned_reviewers_in(1).count>0 and Course.active.review_registration=="closed") or
              (@user.assigned_reviewers_in(1).count>0 and Course.active.review_round>1) %>
          <h4>Your reviewer</h4>

          <% @user.assigned_reviewers_in(1).each do |review| %>
              <%= link_to(review.reviewer.repository, review.reviewer.repository) %>
              <!--
                <em><%= review.done() ? "ready" :"not done yet" %></em>
              --> <!-- feature disabled -->
              <p/>
          <% end %>
      <% else %>
          <h4>Nobody assigned to review your code yet</h4>
      <% end %>

      <% if @user.current_registration.review1 %>
          <div>
            <em><b>points given for the first review round: <%= @user.current_registration.review1 %></b></em>
          </div>
      <% end %>

    </div>

<% end %>


<% if @user.past_registrations.count>0 %>
    <div style="background: #cccccc; padding: 5px;">
      <h2>Past registrations:</h2>
    </div>

    <div class="rounded">
      <% @user.past_registrations.each do |r| %>
          <div>
            <h4><%= r.course %></h4>

            <p><%= r.topic %></p>

            <p><%= link_to r.repository, r.repository %></p>
          </div>

          <div>
            <ul>
              <% r.week_feedbacks.each do |fb| %>
                  <li><%= "week: #{fb.week}, points: #{fb.points}, comments: #{fb.text}" %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

    </div>

<% end %>

<div class="button">
  <%= link_to 'Edit your information', "/mypage/#{@user.student_number}", :method => :post %>
</div>
