<p id="notice"><%= notice %></p>

<h2> <%= "#{@user.forename} #{@user.surename}"%> </h2>

<p>
  <b>Student number:</b>
  <%= @user.student_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if @user.current_registration %>

    <h3>Current work:</h3>
    <div>
      <p><%= @user.current_registration.topic %></p>

      <p><%= link_to @user.current_registration.repository, @user.current_registration.repository %></p>
    </div>

    <% if @user.current_registration.feedback.size > 0 %>
        <h4 class="button" id="review">Show weekly reviews</h4>
    <% end %>

    <div class="reviews">
      <ul>
        <% @user.current_registration.feedback.each do |fb| %>
            <li><%= "week: #{fb.week}, points: #{fb.points}, comments:" %>
              <pre><%= fb.text %></pre>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if @user.past_registrations.count>0 %>
    <h3>Past registrations:</h3>
    <% @user.past_registrations.each do |r| %>
        <div>
          <h4><%= r.course %></h4>

          <p><%= r.topic %></p>

          <p><%= link_to r.repository, r.repository %></p>
        </div>

        <div>
          <ul>
            <% r.week_feedbacks.each do |fb| %>
                <li><%= "week: #{fb.week}, points: #{fb.points}, comments: #{fb.text}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>


<%= link_to 'Edit', "/mypage/#{@user.student_number}", :method => :post %>