<p id="notice"><%= notice %></p>

<h2> <%= "#{@user.forename} #{@user.surename}"%> </h2>

<p>
  <b>Student number:</b>
  <%= @user.student_number %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if @user.current_registration %>

    <h3>Current work:</h3>
    <div>
      <p><%= @user.current_registration.topic %></p>

      <p><%= link_to @user.current_registration.repository, @user.current_registration.repository %></p>
    </div>

    <h3>Weekly feedbacks</h3>

    <table>
      <tr>
        <% (1..6).each do |week| %>
            <th style="width: 50px"> <%= week %></th>
        <% end %>
      </tr>
      <tr>
          <% (1..6).each do |week| %>
            <td style="width: 50px; ; text-align: center;"> <%= @user.current_registration.points_for_week week  %></td>
          <% end %>
      </tr>
    </table>

    <% if @user.current_registration.feedback.size > 0 %>
        <h4 class="button" id="review">Show weekly reviews</h4>
    <% end %>

    <div class="reviews">
      <ul>
        <% @user.current_registration.feedback.each do |fb| %>
            <li><%= "week: #{fb.week}, points: #{fb.points}, comments:" %>
              <pre><%= fb.text %></pre>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>

<h3>Code reviews</h3>

<p><%= "participate review 1: #{@user.current_registration.participates_review 1}" %></p>

<% if Course.active.review_registration=="open" and Course.active.review_round==1 %>
    <%= form_tag('/toggle_review_participation') do %>
      <%= hidden_field_tag 'registration', @user.current_registration.id %>
      <%= hidden_field_tag 'round', 1 %>
      <%= submit_tag label(@user.current_registration.participates_review(1)) %>
    <% end %>
<% end %>

<p><%= "participate review 2: #{@user.current_registration.participates_review 2}" %></p>

<% if Course.active.review_registration=="open" and Course.active.review_round==2 %>
  <%= form_tag('/toggle_review_participation') do %>
    <%= hidden_field_tag 'registration', @user.current_registration.id %>
    <%= hidden_field_tag 'round', 2 %>
    <%= submit_tag label(@user.current_registration.participates_review(2)) %>
  <% end %>
<% end %>

<% if @user.assigned_reviews.count>0 %>
  <h4>Code to review</h4>

  <% @user.assigned_reviews.each do |review| %>
    <% if not review.done %>
      <%= form_tag('/complete_review') do %>
        <%= link_to review.reviewed.repository, review.reviewed.repository %>
        <%= hidden_field_tag 'review', review.id %>
        <%= submit_tag "click when done"  %>
      <% end %>
    <% else %>
      <%= link_to review.reviewed.repository, review.reviewed.repository %>
      <em>reviewed!</em>
    <% end %>
    <br/>
  <% end %>
<% else %>
  <h4>No code assigned to you for review</h4>
<% end %>

<% if @user.assigned_reviewers.count>0 %>
  <h4>Your reviewers</h4>

  <% @user.assigned_reviewers.each do |review| %>
    <%= link_to(review.reviewer.repository, review.reviewer.repository)  %>
    <em><%= review.done()?"ready":"not done yet" %></em>
    <br/>
  <% end %>
<% else %>
    <h4>Nobody assigned to review your code</h4>
<% end %>



<% if @user.past_registrations.count>0 %>
    <h3>Past registrations:</h3>
    <% @user.past_registrations.each do |r| %>
        <div>
          <h4><%= r.course %></h4>

          <p><%= r.topic %></p>

          <p><%= link_to r.repository, r.repository %></p>
        </div>

        <div>
          <ul>
            <% r.week_feedbacks.each do |fb| %>
                <li><%= "week: #{fb.week}, points: #{fb.points}, comments: #{fb.text}" %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>

<h3>Misc</h3>

<%= link_to 'Edit', "/mypage/#{@user.student_number}", :method => :post %>