<!DOCTYPE html>
<html>
<head>
  <title>Labtool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to 'register', "/register"%>
  <%= link_to 'my page', "/mypage" %>
  |
  <% if current_user %>
    <%= current_user.email %>
    <%= link_to "logout", logout_path %>
  <% else %>
    <%= link_to "login", login_path %>
  <%end %>
  <% if admin? %>
    <%= link_to 'registrations', registrations_url %>
    <%= link_to 'courses', courses_url %>
    <%= link_to 'users', users_url %>
  <% end %>
</nav>

<%= yield %>

</body>
</html>
